* {
  margin: 0;
  padding: 0;
  font-family: "Bangers", cursive;
}

h1 {
  font-size: 40px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
}

#imageInput {
  margin: 5px;
  padding: 10px;
}

#canvas1 {
  position: absolute;
}

img {
  display: none;
}

.controls {
  position: absolute;
  margin: 10px;
  z-index: 100;
}

button {
  padding: 10px;
  font-size: 40px;
  margin: 20px;
  box-shadow: 5px 5px 5px gray;
  font-family: "Bangers", cursive;
  color: white;
  background: black;
  transition: 0.3s;
}

button:hover {
  color: black;
  background: white;
}

#convert-button {
  margin: 0px;
  padding: 10px;
  font-size: 35px;
  z-index: 100;
}
