* {
  margin: 0;
  padding: 0;
}

#canvas1 {
  position: absolute;
}

img {
  display: none;
}

.controls {
  position: absolute;
  z-index: 100;
}

button {
  padding: 10px;
  font-size: 40px;
  margin: 20px;
  box-shadow: 5px 5px 5px gray;
  font-family: "Bangers", cursive;
  color: white;
  background: black;
  transition: 0.3s;
}

button:hover {
  color: black;
  background: white;
}
